body{
    background-color: bisque;
    margin: 0px;
    padding: 0px;
    color:darkred;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header{
    background-color:darkorange;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

nav li,
nav a{
    list-style: none;
    text-decoration: none;
    margin:0px;
    padding: 5px;
    color: darkgreen;
}
nav a:hover{
    color: yellow;
}

h1{
    text-align: center;
}

@media screen and (max-width: 600px) {
    header {
        background-color: lightblue;
    }
}